# 16th Fab Assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.

->> Database is a structured collection of data that can be used elecrically.
->> We can store the data in database and also retrieve and manipulate them.


* Differentiate between SQL and NoSQL databases.

 
SQL : 

->> SQL stands for Structured Query Language.
->> SQL is an type  of database,we also call this database as relational database.
->> We can store our data in form of table and in a structured manner.
->> SQL is used for online transition ,e-commerce etc.SQL database use SQL as a standard query language.
    

NoSQL : 

->> NoSQL is stands for Not Only SQL.
->> NoSQL is stands for Not Only SQL.
->> It is also a type of database and this database is not realational.
->> We can store our data in any forms like graph,key-value,document etc.
->> NoSQL have variety in languages according to the type of database.

________________________________________________________________________________________________________________________________________________

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

->> DDL stands for Data Definition Language.

->> It is subset of SQL.

->> DDL is used for modify,delete,creat the objects of database.

1. CREAT : CREAT is used to creat new object in database.

CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(50),
   address VARCHAR(100)
);

2. DROP : This statement is used to delete the object of database.

DROP TABLE customers;

3. ALTER : This statement is used for modify the database object.

ALTER TABLE customers ADD phone VARCHAR(20);

4. TRUNCATE : This statement is used for delete the all data from table.

TRUNCATE TABLE customers;

________________________________________________________________________________________________________________________________________________

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

->> DML stands for Data Manipulation Language.It is uded to add , modify and delete the data in database.

In [ ]:
1. INSERT
->> This statement is used to add new data to a database table.

INSERT INTO customers (id, name, email, address) VALUES (1, 'John Smith', 'john@example.com', '123 Main St');

In [ ]:
2 . UPDATE
->> This statement is used to modify existing data in a database table.

UPDATE customers SET email='newemail@example.com' WHERE id=1;

In [ ]:
3. DELETE
->> This statement is used to remove data from a database table.

DELETE FROM customers WHERE id=1;

________________________________________________________________________________________________________________________________________________

Q4. What is DQL? Explain SELECT with an example.

->> DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to perform queries on the data stored in a database, allowing users to filter, sort, and group data based on specific criteria.

* SELECT

->> The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables in a database.

In [ ]:
SELECT * from test3.test_table

________________________________________________________________________________________________________________________________________________

Q5. Explain Primary Key and Foreign Key.

* Primary Key

->> Pimary key is a coulmn of set of coulmn in database table.

->> It uniquely identify the data.

->> It used to ensure that there is no simillar data in the table of database.

Example :

CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    grade VARCHAR(10)
);



* Foreign Key

->> A foreign key is a column or a set of columns in a database table that refers to the primary key column(s) in another table. 

->> The foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.

Example :

CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    course_id INT,
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);

CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(50)
);

________________________________________________________________________________________________________________________________________________

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


* Code :
    
    
import mysql.connector


mydb=mysql.connector.connect(
    host="localhost",
    user="Mihir",
    password="abcd@1234"
)

mycursor=mydb.cursor()
mycursor.execute("CREAT DATABASE if not exists data11")
mydb.close()




->> In SQL cusor() and execute() is used to interact with database with many language like python and java.



* cursor() :

->> cursor() is used to creat cursor object.

->> The cursor object provides methods for executing SQL queries, fetching rows, and manipulating data in a database.
    
->> We can see the above written code for the example of cursor().   


* execute() :
    
->> The execute() method is used to execute a SQL query on a database using a cursor object. 

->> The execute() method takes a SQL query as its argument and returns the number of rows affected by the query.

->> We can see the above written code for the example of cursor().

________________________________________________________________________________________________________________________________________________

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.


1.SELECT: 

The SELECT clause is used to specify the columns that you want to retrieve from a database. 
It is the first clause to be executed in an SQL query.


2.FROM: 
    
The FROM clause is used to specify the table(s) from which you want to retrieve data.
It is the second clause to be executed in an SQL query.



3.WHERE: 
    
The WHERE clause is used to filter the data that you want to retrieve based on certain conditions. 
It is the third clause to be executed in an SQL query, and it operates on the rows returned by the FROM clause.


4.GROUP BY: 
    
The GROUP BY clause is used to group the data returned by a query based on one or more columns. 
It is the fourth clause to be executed in an SQL query, and it operates on the rows returned by the WHERE clause.


5.HAVING: 
    
The HAVING clause is used to filter the groups created by the GROUP BY clause based on certain conditions. 
It is the fifth clause to be executed in an SQL query, and it operates on the groups created by the GROUP BY clause.


6.ORDER BY: 
    
The ORDER BY clause is used to sort the data returned by a query based on one or more columns. 
It is the sixth clause to be executed in an SQL query, and it operates on the rows or groups returned by the previous clauses.


7.LIMIT/OFFSET: 
    
The LIMIT and OFFSET clauses are used to limit the number of rows returned by a query and to specify the starting point of the returned rows, respectively.
They are the final clauses to be executed in an SQL query, and they operate on the rows or groups returned by the previous clauses.